.container{
    font-family: 'Cambria';
    font-size: 24px;
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    padding: 10px;
}

.navCard{
    cursor: pointer;
    background-color: aliceblue;
    border: 2px solid;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 2px;
    text-align: center;
    box-shadow: 3px 1px lightgrey;
}